#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(244, 242, 242);
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

.other-users-wrapp {
  width: 90%;
  height: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-block: 10px;
  border-radius: 10px;
  max-width: 650px;
}

.user-head-details {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.picture-username-wrapp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.picture-username-wrapp p {
  width: 50%;
  height: auto;
}

.picture-username-wrapp img {
  width: 30%;
  max-width: 50px;
}

.user-content {
  width: 90%;
  margin: 10px;
  height: auto;
  overflow-x: hidden;
}

.likes-wrapp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 35%;
  border-radius: 10px;
  max-width: 175px;
}

.like-wrapp p {
  margin: 10px;
}

.likes-wrapp button:hover {
  transition: transform 0.3s ease;
}

.likes-wrapp button:hover {
  transform: scale(1.1);
}

.reply-btn-wrapp {
  background-color: rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  width: 35%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100%;
  max-width: 140px;
  transition: transform 0.3s ease;
  color: rgb(78, 74, 162);
  padding: 0;
  padding: 10px 0px;
  border: none;
}

.reply-btn-wrapp button {
}

.reply-btn-wrapp:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.like-reply-wrapp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 10px;
}

.replies-wrapp {
  width: 85%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: left;
  border-left: 2px solid rgb(152, 152, 152);
  max-width: 650px;
}

.replies {
  width: 90%;
  height: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 10px;
}

.full-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  z-index: 0;
  position: relative;
}

.details-personal-comment-wrapp {
  width: 90%;
}

.details-personal-comment {
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 100px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  z-index: 0;
  position: relative;
  padding-bottom: 10px;
}

.details-personal-comment img {
  width: 40px;
  margin-top: 10px;
}

.details-personal-comment textarea {
  height: 80%;
  margin-block: 10px;
  border-radius: 10px;
  border-color: rgb(146, 146, 146);
}
.details-personal-comment button {
  margin-top: 10px;
  background-color: rgb(80, 89, 218);
  color: white;
  transition: transform 0.3s ease;
}

.details-personal-comment button:hover {
  transform: scale(1.1);
}

.edit-delete-wrapp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 45%;
  margin-left: 10px;
}

.edit-delete-wrapp img {
  width: 20%;
  margin: 10px;
  transition: transform 0.3s ease;
  max-width: 30px;
}

.edit-delete-wrapp img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.is-you {
  background-color: rgb(129, 184, 248);
  margin-left: 10px;
  height: 15%;
  border-radius: 10px;
  font-size: 12px;
  margin-left: 20px;
}

.is-you p {
  color: white;
  margin: 0px;
  padding: 5px;
}

.delete-confirmation-wrapp {
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.722);
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-confirmation {
  width: 85%;
  background-color: rgb(244, 244, 244);
  border-radius: 10px;
  max-width: 400px;
}

.delete-keep-wrapp {
  margin: 10px;
}

.delete-confirmation p {
  width: 90%;
  color: rgb(0, 0, 0);
  align-self: center;
  justify-self: center;
  margin-top: 10px;
  text-align: center;
}

.delete-confirmation h2 {
  padding-top: 20px;
}

.delete-keep-wrapp button {
  margin: 20px;
  background-color: rgb(20, 132, 217);
  color: white;
  transition: transform 0.3s ease;
}

.delete-keep-wrapp button:hover {
  cursor: pointer;
  transform: scale(1.1);
  border: none;
}

textarea {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 5px;
  margin-bottom: 10px;
  width: 60%;
}

textarea::placeholder {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
